{% extends 'base.html' %}
{% block content %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        <span class="fw-bold">{{ question.title }}</span>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div>
                            {% for val in '12345' %}
                                <a class="mx-1 answer {% if question.user_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                   data-question="{{ question.pk }}"
                                   data-value="{{ val }}" href="#"
                                   onClick="answerQuestion(this);"
                                   ></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            <a class="mx-1 like {% if question.user_likes %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="like" onClick="likeQuestion(this)" ></a>
                            <a class="mx-1 like {% if question.user_dislikes %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="dislike" onClick="dislikeQuestion(this)"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.ranking }} pts.
                        </div>


                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
{% load static  %}
    <!--hack?. not pretty but it does the job-->>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}"; 
    </script>
    <script
    type="text/javascript"
    src="{% static '/survey/js/question_list.js' %}">
    </script>

{% endblock %}